div#fondo{
  background-color:#005CCB;
  width: 1500px;
  height: 1630px;
}

div#nombreLog{
  background: #00c2cb;
  width: 100%;
  height: 150px;
}

div.circulos{
  width: 125px;
  height: 125px;
  border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.logoBB{
  width: 187.5px;
  height: 187.5px;
}

div#c1{
  margin: -137px 0px 0px 130px;
}

img.tlMain{
  width: 350px;
  height: 150px;
  display: flex;
  margin: auto;
}



div#navegacion{
  margin: auto;
  margin-top: 5px;
  background: #CB005C;
  display: flex;
  justify-content: center;
}

div#contenido{
text-align: center;
}

div.contMenu{
  background: #f13b3e;
  width: 500px;
  height: 1000px;
}

div#parteIzq{
  margin-top: 10px;
  margin-left: 200px;
}

p.datosExtra{
  color: white;
}

div#parteDer{
  margin-top: -1000px;
  margin-left: 800px;
}

caption{
    font-size: 25px;
    color: white;
    text-decoration: underline;
}

td.descripcionMenu{
  font-size: 18px;
  color: white;
  text-align: left;
}

img.Menu{
  width: 144px;
  height: 108px;
}

div#masInfo{
  background: #00c2cb;
  width: auto;
  height: auto;
  margin-top: 50px;
}

h2{
  font-size: 40px;
  color: white;
}


div#redesSociales{
  background: #00c2cb;
  width: auto;
  height: auto;
  display: flex;
}
table.datos{
  margin-left: 100px;
}

caption.contactar{
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

td.cont1{
  text-align: center;
  color: black;
}

td.cont2{
  text-align: left;
  color:black;
}
h3{
  margin-top: 21px;
  margin-left: 100px;
  font-size: 15px;
}

h4{
  margin-left: 5px;
}


div.redes{
  width: 40px;
  height: 40px;
  border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}


div#TW{
background: #005CCB;
margin: 10px 0px 0px 30px;
}

div#FB{
  margin: 10px 0px 0px 30px;
}
div#Insta{
  margin: 10px 0px 0px 30px;
}
div#YT{
  margin: 10px 0px 0px 30px;
}

img.logo{
  width: 42px;
  height: 42px;
  border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}

a.locacion{
  font-style: normal;
  font-size: 21px;
  color: white;
  text-decoration: underline;
}

a.locacion:hover{
  font-style: normal;
  font-size: 23px;
}
a.opciones{
  font-style: normal;
  font-size: 21px;
  color: black;
  text-decoration: none;
}

a.opciones:hover{
  font-style: normal;
  font-size: 23px;
  color:white;
}

h1{
  text-align: center;
}
