div#fondo{
  background-color:#005CCB;
  width: 100%;
  height: auto;
}

div#nombreLog{
  background: #00c2cb;
  width: 100%;
  height: 150px;
}

div.circulos{
  width: 125px;
  height: 125px;
  border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.logoBB{
  width: 187.5px;
  height: 187.5px;
}

div#c1{
  margin: -137px 0px 0px 130px;
}

img.tlMain{
  width: 350px;
  height: 150px;
  display: flex;
  margin: auto;
}

div#navegacion{
  margin: auto;
  margin-top: 5px;
  background: #CB005C;
  display: flex;
  justify-content: center;
}

div#contenido{
  width: auto;
  height: auto;
  margin:auto;
}

div#tituloGaleria{
  width: auto;
  height: auto;
  text-decoration-style: dashed;
  display: flex;
  justify-content: center;
}

div#imgPrincipal{
  background: #CCD1D1;
  width: 700px;
  height: 400px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.imgPG{
  width:650px;
  height: 350px;
}

img.imgPG:hover{
  width:700px;
  height: 400px;
}

div.imgGaleria{
  background: #CCD1D1;
  width: 360px;
  height: 270px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

div#img1{
  margin-top: 40px;
  margin-left: 90px;
}
div#img2{
  margin-top: -270px;
  margin-left: 540px;
}
div#img3{
  margin-top: -270px;
  margin-left: 990px;
}
div#img4{
  margin-top: 40px;
  margin-left: 90px;
}
div#img5{
  margin-top: -270px;
  margin-left: 540px;

}
div#img6{
  margin-top: -270px;
  margin-left: 990px;
}
div#img7{
  margin-top: 40px;
  margin-left: 90px;
}
div#img8{
  margin-top: -270px;
  margin-left: 540px;

}
div#img9{
  margin-top: -270px;
  margin-left: 990px;
}

img.imgGl{
  width:360px;
  height: 270px;
}

div#masInfo{
  background: #00c2cb;
  width: auto;
  height: auto;
  margin-top: 50px;
}

h2{
  font-size: 40px;
  color: white;
}

table.datos{
  margin-left: 100px;
}

caption.contactar{
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}

td.cont1{
  text-align: center;
}

td.cont2{
  text-align: left;
}
h3{
  margin-top: 21px;
  margin-left: 100px;
  font-size: 15px;
}

h4{
  margin-left: 5px;
}


h5{
  color: white;
  font-size: 30px;
  text-align: center;
}

div#redesSociales{
  background: #00c2cb;
  width: auto;
  height: auto;
  display: flex;
}

div.redes{
  width: 40px;
  height: 40px;
  border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}


div#TW{
background: #005CCB;
margin: 10px 0px 0px 30px;
}

div#FB{
  margin: 10px 0px 0px 30px;
}
div#Insta{
  margin: 10px 0px 0px 30px;
}
div#YT{
  margin: 10px 0px 0px 30px;
}

img.logo{
  width: 42px;
  height: 42px;
  border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}

a.locacion{
  font-style: normal;
  font-size: 21px;
  color: white;
  text-decoration: underline;
}

a.locacion:hover{
  font-style: normal;
  font-size: 23px;
}
a.opciones{
  font-style: normal;
  font-size: 21px;
  color: black;
  text-decoration: none;
}

a.opciones:hover{
  font-style: normal;
  font-size: 23px;
  color:white;
}

h1{
  text-align: center;
}
